
		@font-face {
		    font-family: 'Museo';
		    src: url('../fonts/museo300-regular-webfont.woff2') format('woff2'),
		      url('../fonts/museo300-regular-webfont.woff') format('woff');
		    font-style: normal;
		    font-weight: 300;
		}

		@font-face {
		    font-family: 'Museo';
		    src: url('../fonts/museo700-regular-webfont.woff2') format('woff2'),
		      url('../fonts/museo700-regular-webfont.woff') format('woff');
		    font-style: bold;
		    font-weight: 700;
		}

		body
    {
        margin: 0 auto;
        /*text-align: center;*/
        background-color: white;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    	font-size: 14px;
    }

    a{
    	text-decoration: none;
    	color: #ccc;
    	background: 0 0;
    }

    /*******************************/
	/*         Navigatioin         */
	/*******************************/
	/* Autohide navbar */
	.slideUp { top:-100px; }
	.headroom { 
		-webkit-transition: all 0.4s ease-out;
		-moz-transition: all 0.4s ease-out;
		-o-transition: all 0.4s ease-out;
		transition: all 0.4s ease-out;
	}

	.navbar { 
		background:rgba(59,28,22,.85); 
		min-height:80px;
		padding-top:15px;
		height: 65px;
		width: 100%;
		display: block;
		position: fixed;
	    z-index: 1030;
	    top: 0px;
	    transition: top ease-in .3s;
	}

	.hide-navbar{
		top: -85px;
	}
/*
	.show-navbar-links{
		top: 0;
	}
*/
	.navbar-container{
		margin: 0;
	    padding: 0;
	    width: 100%;
	    height: 50px;
	    box-sizing: border-box;
	}

	.navbar *:focus { outline: 0; }
	.navbar:hover { background:rgba(59,28,22,1) }

	.navbar-logo{
		margin: 0 auto;
		margin-top: 5px;
		margin-left: 60px;
		float: left;
		width: 25%;
	}

	.navbar-links{
		margin: 0 auto;
		width: 75%;
		text-align: right;
		padding-top: 20px;
		padding-right: 50px;
	}

	.navbar-icon{
		float: right;
		margin-top: 10px;
		margin-right: 80px;
		display: none;
	}

	.navbar-links > a {
		color:rgba(255, 255, 255, .4);
		margin-right: 15px;
		margin-left: 15px;
		text-decoration: none;
		font-size: 16px;
	}

	#span-icon-list{
		display: flex;
	}

	#span-icon-list > img:hover {background:rgba(0,0,0,1);}

	a:hover, a:focus { background:none; color:white; }
/*****************************************************************************************************************************/
	.container{
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	.header-container{
		background: url('../image/main/cocina-madera-portada-recortada-tonocalido-oscuro.jpg');
		background-size: cover;
		background-repeat: no-repeat;
 		background-position: center center;
	    min-height: 520px;
	    text-align: center;
	    padding-top: 18%;
	    color: white;
	    font-family: 'Museo', sans-serif, Helvetica, Arial;
	    font-weight: 700;
		width: 100%;
		overflow: hidden;
	}

	.img-tittle-wraper{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.lead {
		font-family:'Museo', sans-serif, Helvetica, Arial;
		font-size:60px;
		margin-bottom:6px;
		color:white;
		line-height:1.15em;
		font-weight:700;
	}

	.tagline {
		color:rgba(255,255,255,0.75);
		margin-bottom:25px;
		margin-top: 10px;
	}

	.divider{
		background-color:#6d3a30;
		height: 10px;
		width: auto;
	}

	.welcome-container{
		color: inherit;
		background-color: #F7F5F4;
		margin: 0%;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 40px;
		padding-right: 30px;
		padding-left: 30px;
		text-align: center;
	}

	.welcome-container > p {
		font-family: "Open sans", Helvetica, Arial;
		font-size: 20px;
	}

	.welcome{
		font-family:'Museo', sans-serif, Helvetica, Arial;
		font-weight:700;
		font-size:45px;
		color: #b63d32;
		margin-bottom: 20px;
	}

	.section-reasons{
		background-color: #F7F5F4;
	    padding-top: 30px;
	    padding-bottom: 30px;
	}

	.tittle-reasons{
		font-family: "Open sans", Helvetica, Arial;
		font-weight: 300;
		line-height: 1.3em;
		font-size: 30px;
	}
/***********************************************************************************************************************/
	.row{
		padding-left: 40px;
		padding-right: 40px;
	  	width: 100%;
	  	margin: 0 auto;
	  	display: flex;
	  	flex-direction: row;
  		flex-wrap: wrap;
	}

	.box-reasons{
		width: 25%;
		padding-left: 15px;
	    padding-right: 15px;
	}

	.box-reasons > div{
		font-family: "Open sans", Helvetica, Arial;
		font-size: 18px;
		text-align: center;
		padding-left: 15px;
	    padding-right: 15px;
	}

	.box-reasons > h4{
		font-size: 25px;
	}

	.img-reasons{
		max-width: 150px;
		max-height: 150px;
	}
/***********************************************************************************************************************/
	.us-section{
		width: 50%;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		display: inline;
		position: static;
	}

	.us-container{
		display: flex;
		flex-direction: row;
  		flex-wrap: wrap;
		background: #3b1c16;
		color: white;
	}

	.us-img{
		max-width: 100%;
		max-height: 100%;
	}
	.us-text{
		text-align: center;
		display: inline-table;
	}

	.us-raper{
		width: 300px;
		margin: 0 auto;
		margin-top: 25%;
		margin-bottom: 80px;
	}

	.us-tittle{
		font-family:'Museo', sans-serif, Helvetica, Arial;
		font-weight:700;
		font-size:45px;
	}

	.us-p{
		font-family: "Open sans", Helvetica, Arial;
		font-size: 18px;
	}
/***********************************************************************************************************************/
	footer{
		background: #3b1c16;
	    padding-top: 30px;
	    padding-bottom: 15px;
	    font-size: 12px;
	    color: #999;
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	    line-height: 1.428571429;
	}

	.row-footer{
		display: flex;
		/* align-items por defecto tiene el valor `stretch` */
		flex-direction: row;
  		flex-wrap: wrap;
	}

	.footer-section{
		width: 50%;
		padding: 6%;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: left;
	}

	.footer-section > h2{
		color: #ccc;
	}

	.footer-section > div{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 12px;
		line-height: 1.428571429;
		text-align: left;
	}

	.footer-copyright{
		height: 30px;
		padding-right: 30px;
		padding-left: 30px;
	}

	.footer-right, .footer-contact-data{
		display: flex;
		flex-direction: row;
  		flex-wrap: wrap;
		align-items: center;
	}

	.footer-contact-data > *{
		margin-right: 10px;;
	}

	.footer-text{
		padding-left: 30px;
	}

	.footer-contact-data > h2{
		color: whitesmoke;
	}

/***********************************************************************************************************************/
	
			.banner-catalog{
				height: 250px;
				margin-top: 20px;
				border: 7px solid #6d3a30;
				border-left: 0;
				border-right: 0;
				background-image: url("../image/main/banner-catalog-lq-oscuro.jpg");
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				padding-right: 50px;
				padding-left: 50px;
			}

			.banner-catalog > h2 {
				font-family:'Museo', sans-serif, Helvetica, Arial;
				font-weight:700;
				font-size:40px;
				color: white;
			}

			#btn-show-catalog{
				width: 150px;
				height: 70px;
				color: white;
				border: 2px solid white;
				font-family: "Open sans", Helvetica, Arial;
			    font-size: 1.7em;
			    font-weight: 500;
			}

			#btn-show-catalog:hover{
				background: rgba(255,255,255,0.1);
			}
			#btn-show-catalog:active{
				background: rgba(255,255,255,0.2);
			}

			.catalog-container{
				background-color: #F7F5F4;
				width: 100%;
				overflow: hidden;
				height: 0px;
				transition: height 0.5s ease-out;
				background-color: #F7F5F4;
			}

			.catalog-container-show{
				height: 560px;
			}

			.row-catalog{
			  	margin: 0 auto;
			  	display: flex;
			  	flex-direction: row;
		  		flex-wrap: wrap;
		  		padding-right: 50px;
		  		padding-left: 50px;
			}

			.block-catalog{
		  		width: 20%;
		  		height: 200px;
				background-repeat: no-repeat;
		  		background-size: cover;
		 		background-position: center center;
		  		margin: 0 auto;
		  		text-align: center;
		  		margin-bottom: 20px;
		  		margin-top: 20px;
				opacity: 0.9;
				box-shadow: 4px 4px 8px rgb(88, 88, 88);
				border-radius: 5px;
			}

			.block-catalog > h3{
			    font-size: 35px;
			    padding: 8px 12px;
				color: white;
				-webkit-text-stroke-color: #4b2922;
				-webkit-text-stroke-width: 2px;
				text-shadow: 0px 0px 20px #ffffff;
			}

			#block-catalog-item-1{
				background-image: url("../image/catalog/beds/main.jpg");
			}
			#block-catalog-item-2{
				background-image: url("../image/catalog/closets/main.jpg");
			}
			#block-catalog-item-3{
				background-image: url("../image/catalog/kitchen/main.jpg");
			}
			#block-catalog-item-4{
				background-image: url("../image/catalog/dining/main.jpg");
			}
			#block-catalog-item-5{
				background-image: url("../image/catalog/bath/main.jpg");
			}
			#block-catalog-item-6{
				background-image: url("../image/catalog/tv/main.jpg");
			}
			#block-catalog-item-7{
				background-image: url("../image/catalog/doors/main.jpg");
			}
			#block-catalog-item-8{
				background-image: url("../image/catalog/others/main.jpg");
			}

			.block-catalog:hover{
				opacity: 1;
			}

			.block-catalog:active{
				opacity: 0.6;
			}
	
	/****************************************************** abrir catalogo ***************************************************/

			:root {
			  --lightgray: #efefef;
			  --blue: steelblue;
			  --white: #fff;
			  --black: rgba(0, 0, 0, 0.8);
			  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
			}
			 
			button {
			  cursor: pointer;
			  background: transparent;
			  border: none;
			  outline: none;
			  font-size: inherit;
			}

		/************************************************************************************************************************/

	@media all and (max-width: 1100px){
		.header-container{padding-top: 195px;}
	}
	@media all and (max-width: 992px){
		.header-container{min-height: 320px; padding-top: 100px;}
		.lead{font-size: 40px;}
		.box-reasons{width: 50%; margin-top: 30px;}
		.us-section{width: 100%}
		.us-raper{margin-top: 0; width: 100%; padding-left: 40px; padding-right: 40px;}
		.block-catalog{width: 45%;}
		.catalog-container-show{height: 1020px;}
	}
	@media all and (max-width: 800px){
		.box-reasons{width: 100%;}
		.navbar-links{width: 100%;margin: 0;padding-right: 50px;}
		.block-catalog{width: 85%;}
		.catalog-container-show{height: 2000px;}
		.banner-catalog{height: 300px;}
	}
	@media all and (max-width: 680px){
		.header-container{min-height: 220px; padding-top: 85px;}
		.footer-section{width: 100%;}
	}
	@media all and (max-width: 580px){
		.navbar{
			background:rgba(59,28,22); 
		}
		.navbar-icon{display: block;}
		.navbar-links{
			background:rgba(59,28,22); 
			text-align: center;
			width: 100%;
			position: relative;	
		    z-index: -2000;
		    top: -260px;/*80*/
		    transition: top ease-in .3s;
		    display: flex;
			/* align-items por defecto tiene el valor `stretch` */
			flex-direction: column;
	  		flex-wrap: wrap;
	  		padding: 0;
	  		padding-top: 15px;
	  		padding-bottom: 15px;

		}
		.navbar-links > a{
			margin-bottom: 15px;
			margin-top: 15px;
		}
		.banner-catalog{height: 330px;}
	}
	@media all and (max-width: 425px){
		.banner-catalog{height: 376px;}
	}